.divDetail{
    text-align: center;
    margin-top: 3rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}
.cont-ImageDetail {
    flex: 0 0 auto;
    width: 40%!important;
    max-width: 100%;
    padding: .8rem;
    box-sizing: border-box;
}
.cont-Detail {
    flex: 0 0 auto;
    width: 60%!important;
    max-width: 100%;
    padding-left: 100px!important;
}
.cont-Detail button{
    margin-bottom: 1rem;
    padding: 5px 8px;
    border: 3px solid #312F59;
    cursor: pointer;
    font-weight: bolder;
}
.cont-Detail button:hover{
    background-color: #8785c4;
}
.cont-Detail p{
    text-align: left;
}
strong{
    color: #35505E;
}
h2{
    color: #ED303F;
}
ul{
    text-align: left;
}
select{
    padding: 5px 8px;
    border: 3px solid #312F59;
    
}
select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

@media only screen and (max-width: 768px){
    .cont-ImageDetail {
        width: 90%!important;
    }
    .cont-Detail {
        width: 90%!important;
    }
    .cont-ImageDetail img{
        width: 100%!important;
        margin-left: 30px;
    }

}
