.divAbout{
    text-align: center;
    margin-top: 3rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}
.cont-Dev h1,h3{
    text-align: center;
}
.img-Dev{
    width: 80%;
    position: relative;
    left: -120px;
    bottom: 0;
}
.icono img{
    width: 2.5rem;
    margin: .5rem;
}
.msg-fails{
    color: rgb(230, 86, 86);
}
footer{
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #3894C3;
    padding: .6rem 1rem;
    text-align: center;
    position: relative;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    font-weight: bolder;
}
footer a:hover{
    color: #ED303F; 
}
@media only screen and (max-width: 768px){
    .img-Dev{
        left: -10px;
    }

}