.container{
    margin-top: 5rem;
    max-width: 1140px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}


